<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">IIIFマニフェスト生成</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/api/presentation/2/<%= manifest_id %>/manifest.json">Manifestを表示</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/viewer/<%= manifest_id %>">Universal Viewerで画像表示</a>
        </li>
      </ul>
    </div>
  </nav>